@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html
/* ,#parallaxbg  */
{
  min-width: 400px;
  background-color: black;
  background-image: url('./assets/img/starryBG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}



.insideParallax > * {
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.151) ;
  backdrop-filter: blur(5px);
}


/* #FEWrapper>div {
  border-right: 2px solid white;
  padding-right: 25px;
  padding-block: 1rem;
} */