@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 400px;
  background-color: black;
}

/* #FEWrapper>div {
  border-right: 2px solid white;
  padding-right: 25px;
  padding-block: 1rem;
} */